.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    color: white;
    margin: 0;
    padding: 10px 20px;
}

.logo{
    font-size: 20px;
}

.add-btn{
    background-color: #61dafb;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #4fa3d1;
}